/* Tree dots loader for inputs loading state */

.dropdownLoader {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dot {
  background-color: var(--color-global-grey2);
  border-radius: var(--spacing);
  height: 0.6rem;
  text-align: center;
  transition: opacity 0.3s;
  width: 0.6rem;

  :global {
    @include animation(opacity-up 1s var(--transition-count1) var(--transition-logic3) both);
  }

  &:not(:last-child) {
    margin-right: 0.4rem;
  }

  &.middle {
    animation-delay: 0.2s;
  }

  &.last {
    animation-delay: 0.4s;
  }
}

.inverted {
  background-color: var(--color-global-white);
}
