.container {
  bottom: var(--spacing);
  /*rtl:ignore*/
  direction: ltr;
  display: flex;
  height: auto;
  height: 2rem;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  z-index: var(--z-index-02);
}

.items {
  align-items: center;
  display: inline-flex;
  transition: transform 0.3s;
}

.dot {
  $self: &;
  align-items: center;
  display: flex;
  height: 1rem;
  justify-content: center;
  width: 1rem;

  &::after {
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0 0 var(--color-global-black-op-35);
    content: '';
    display: block;
    height: 0.6rem;
    transition: transform 0.2s;
    width: 0.6rem;
  }

  &--classic {
    &::after {
      background: var(--color-global-white);
    }
  }

  &--modern {
    &#{$self}--active {
      &::after {
        background: var(--color-global-white);
      }
    }

    &::after {
      background: var(--color-global-white);
    }
  }

  &--active {
    &::after {
      transform: scale(1.3333);
    }
  }

  &--small {
    &::after {
      transform: scale(0.67);
    }
  }

  &--hidden {
    &::after {
      transform: scale(0);
    }
  }
}
