.chip {
  align-items: center;
  background-color: var(--color-global-stone-25);
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: var(--color-global-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-08);
  height: 100%;
  line-height: 2.4rem;
  line-height: normal;
  padding: var(--spacing) calc(var(--spacing) * 2);
  position: relative;
  -webkit-tap-highlight-color: var(--brand-color-39);
  text-transform: capitalize;
  transition: border-color var(--transition-duration3) var(--transition-logic3);
  white-space: nowrap;
  width: 100%;
  will-change: border-color;
}

.chip:hover {
  background-color: var(--color-global-stone-50);
}

.chip_disabled {
  background-color: var(--color-global-stone-25);
  color: var(--color-global-grey1);
  cursor: not-allowed;
  opacity: 0.7;
}

.chip_selected.chip--disabled {
  border-color: var(--color-global-grey1);
}

.chip_selected {
  background-color: var(--color-brand-sky-25);
  border-color: var(--color-interaction-1-light-mode);
  color: var(--color-interaction-1-light-mode);
}

.chip_selected:hover {
  background-color: var(--color-brand-sky-50);
}

.chipPrefix {
  margin-right: calc(var(--spacing) * 0.75);
  text-align: right;
}

.chipSuffix {
  margin-left: calc(var(--spacing) * 0.75);
}

.chipLabel {
  line-height: 2.4rem;
}
