.idea/
node_modules/
dist/
build/
coverage/
.awcache/
*.iml
npm-debug.log
package-lock.json
.DS_Store
.project
test-reports/
yarn-error.log
.next
# Translations
/public/static/translations/ar
/public/static/translations/en
/public/static/translations/fr
/public/static/locations/*.ts
/public/static/filters-data/*.ts
/scripts/download-resources/script.js
story-book/
