.container {
  background-color: var(--color-global-white);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  padding: calc(var(--spacing) * 3);
  position: absolute;
  width: 100%;
  z-index: var(--z-index-08);

  :global {
    animation: slide-in-up 200ms var(--transition-logic);
  }
}

.closeButton {
  margin-top: calc(var(--spacing) * 3);
  width: 100%;
}
