.container {
  position: relative;
}

.label {
  color: var(--color-global-grey1);
  font-size: var(--font-size-09);
  font-weight: var(--font-weight-04);
  left: calc(var(--spacing) * 4.5);
  line-height: 1.4;
  position: absolute;
  top: calc(var(--spacing) * 0.5);
}

.field {
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid var(--color-global-grey2);
  border-radius: calc(var(--spacing) / 2);
  color: var(--color-global-black);
  cursor: pointer;
  font-size: var(--font-size-01);
  line-height: 1.5;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  transition: border-color var(--transition-duration3) var(--transition-logic3);
  width: 100%;
  will-change: border-color;

  &:hover,
  &:focus {
    border-color: var(--color-interaction-1-dark-mode);
  }

  &[disabled] {
    background-color: var(--color-global-stone-25);
    border-color: var(--color-global-grey3);
    color: var(--color-global-grey1);
    pointer-events: none;
  }
}

.fieldEmpty {
  color: var(--color-global-grey1);
}

.fieldWithIcon {
  padding-right: calc(var(--spacing) * 6);
}

.fieldFloating {
  padding-bottom: calc(var(--spacing) * 0.67);
  padding-top: calc(var(--spacing) * 3.33);
}

.icon {
  fill: var(--color-global-black);
  padding: calc(var(--spacing) / 4);
  pointer-events: none;
  position: absolute;
  right: calc(var(--spacing) * 2.7);
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--spacing) * 3);
}
