.list {
  display: flex;
  margin: 0 calc(var(--spacing) * -2) calc(var(--spacing) * -2);
  overflow-x: auto;
  padding-bottom: calc(var(--spacing) * 2);
  padding-left: calc(var(--spacing) * 2);
}

.icon {
  fill: var(--color-global-black);
  margin-right: calc(var(--spacing) * 1.5);
}

.payment_method,
.installment_years {
  border-bottom: 0.1rem solid var(--color-global-grey3);
  margin-top: calc(var(--spacing) * 4);
}

.split {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(var(--spacing) * -1.5);

  > * {
    padding: 0 calc(var(--spacing) * 1.5);
    width: 100%;
  }
}

.keywords,
.keywords_chip {
  font-size: var(--font-size-01);
}
