.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.content {
  flex: 1;
  overflow: scroll;
  padding: var(--spacing) calc(var(--spacing) * 2) 0;
}

.header {
  align-items: center;
  box-shadow: var(--box-shadow-04);
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 2);
}

.headerLeft {
  align-items: center;
  color: var(--color-global-black);
  display: flex;
}

.closeIcon {
  margin-right: calc(var(--spacing) * 2.5);
}

.title {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-02);
}

.footer {
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgb(0 0 0 / 20%), 0 0.1rem 0.2rem 0 rgb(0 0 0 / 15%);
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 2);
}

.submit_btn {
  width: 100%;
}

.dropdown {
  align-items: center;
  justify-content: center;
  margin: var(--spacing);
}

.dropdown select {
  padding: var(--spacing);
  width: 18rem;
}

.notFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notFoundButton {
  background-color: transparent;
  color: var(--color-global-black);
  font-weight: var(--font-weight-04);
  padding: 0;
  pointer-events: none;
}

.filter_button {
  white-space: pre;
}

.tooltipWrapper {
  flex: 1;
  position: relative;
}

.tooltip {
  left: 0;
  transform: none;
}
