/* 3 dots applier */
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Keyframe factory to create animation for supporting all browsers */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    $browser: '-o-' !global;
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

/* Animation helper */
@mixin animation($str) {
  animation: #{$str};
}
