.container {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--spacing) * 2) 0;
}

.button {
  width: 9.8rem;
}

[dir='rtl'] .leftIcon,
[dir='rtl'] .rightIcon {
  transform: rotate(180deg);
}
