.root {
  text-align: left;
  width: 100%;
}

.container {
  align-items: center;
  background: var(--color-global-white);
  border: 0.1rem solid var(--color-global-grey2);
  border-radius: 0.3rem;
  cursor: text;
  display: flex;
  font-size: var(--font-size-08);
  height: 4.8rem;
  position: relative;
  width: 100%;
}

.input {
  border: none;
  color: var(--color-global-black);
  flex: 1;
  font-weight: var(--font-weight-04);
  outline: none;
}

.input::placeholder {
  color: var(--color-global-grey1);
  font-weight: var(--font-weight-04);
  padding-left: calc(var(--spacing) / 2);
}

.hidden_input {
  height: 0;
  position: absolute;
  width: 0;
}

.input_not_empty {
  padding-left: calc(var(--spacing) / 2);
}

.add_label {
  color: var(--color-global-grey1);
  font-weight: var(--font-weight-04);
  line-height: 2.4rem;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2) calc(var(--spacing) / 2) calc(var(--spacing) / 2);
  white-space: nowrap;
}

.container_on_the_bottom {
  padding-left: calc(var(--spacing) * 2);
}

.container_on_the_bottom .input::placeholder {
  padding-left: 0;
}

.container_active {
  border-color: transparent;
  box-shadow: var(--box-shadow-02);
  z-index: var(--z-index-01);
}

.container_not_active_multiple_elements {
  display: grid;
  grid-gap: calc(var(--spacing) / 2);
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(auto, 1fr);
  padding-left: calc(var(--spacing) / 2);
}
.container_not_active_single_element {
  display: grid;
  grid-gap: calc(var(--spacing) / 2);
  grid-template-columns: minmax(0, auto) minmax(auto, 1fr);
  padding-left: calc(var(--spacing) / 2);
}

.search_icon {
  fill: var(--color-global-grey1);
  margin: 0 var(--spacing) 0 calc(var(--spacing) * 2);
  width: 1.5rem;
}

.dropdown {
  background-color: var(--color-global-white);
  border-radius: 0 0 0.3rem 0.3rem;
  box-shadow: var(--box-shadow-02);
  margin-left: -0.1rem;
  position: relative;
  position: absolute;
  top: 100%;
  width: calc(100% + 0.2rem); /* +2px to match the 1px border of container */
}

.dropdown:before {
  background: inherit;

  /* cover the shadow top for dropdown */
  content: '';
  height: 0.4rem;
  position: absolute;
  top: -0.4rem;
  width: 100%;
  z-index: var(--z-index-01);
}

.selected_value_container {
  padding: var(--spacing);
}

.selected_value_container_on_the_bottom {
  cursor: initial;
  padding-top: calc(var(--spacing) * 1.5);
}

.suggestions_container {
  color: var(--color-global-black);
  font-size: var(--font-size-01);
  font-weight: var(--font-weight-04);
  line-height: 2.4rem;
  padding: var(--spacing) calc(var(--spacing) * 1.5);
}

.separator {
  background: var(--color-global-grey3);
  height: 0.1rem;
  left: 0.8rem;
  position: absolute;
  right: 0.8rem;
  z-index: var(--z-index-02);
}

.suggestion {
  align-items: center;
  display: flex;
  display: flex;
  height: 4rem;
  line-height: 2.4rem;
  text-align: left;
  width: 100%;
}

.suggestion_icon {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: calc(var(--spacing) * 1.5);
}

.suggestion_text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestion:hover {
  background-color: var(--color-global-stone-25);
  cursor: pointer;
}
.suggestion:active {
  background-color: var(--color-global-stone-50);
}
.suggestion_selected {
  background: var(--color-brand-sky-25);
}

.no_suggestions {
  color: var(--color-global-black);
  line-height: 2.4rem;
}

.input_cross_button {
  cursor: pointer;
  margin: 0 calc(var(--spacing) * 2) 0 calc(var(--spacing) * 1.5);
  width: 1rem;
}

.input_cross_icon {
  fill: var(--color-global-black);
}

.chip_wrapper_when_opened {
  display: inline-block !important;
  margin: calc(var(--spacing) / 2) calc(var(--spacing) / 2) 0 0;
  max-width: 100%;
}

.chip_wrapper_on_the_bottom {
  cursor: initial;
  margin: calc(var(--spacing) * 1.5) calc(var(--spacing) * 1.5) 0 0;
}
