.container {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 37.6rem;
  overflow: hidden;
}

.gallery {
  height: 23.3rem;
}

.content {
  background-color: var(--color-global-white);
  flex: 1;
  padding: spacingm(3) spacingm(2) spacingm(4) spacingm();
}

.row1 {
  border-radius: 0.2rem;
  height: 2.4rem;
  margin-bottom: spacingm(3);
  width: 20.2rem;
}

.row2 {
  border-radius: 0.2rem;
  height: 1.8rem;

  & + & {
    margin-top: spacingm(2);
  }
}
