.container {
  $self: &;
  display: flex;
  overflow: hidden;

  &#{$self}--classic {
    background-color: var(--color-global-white);
    padding-bottom: spacingm();
    padding-top: spacingm();

    .content {
      padding-left: spacingm();
      padding-right: spacingm(1.2);
      width: calc(100% - 12.4rem);

      .skeleton {
        margin-bottom: spacingd(2);

        &:first-child {
          margin-bottom: spacingm();
        }

        &:last-child {
          margin-bottom: 0;
          margin-top: spacingm();
        }
      }
    }
  }

  &#{$self}--modern {
    border-radius: 0.8rem;
    flex-direction: column;

    .header {
      height: 24.8rem;
    }

    .content {
      background-color: var(--color-global-white);
      height: 12.9rem;
      padding: spacingm(1.5) spacingm(2);

      .skeleton {
        margin-bottom: spacingd(2);

        &:nth-of-type(4) {
          margin-bottom: spacingm();
        }
      }
    }

    .footer {
      align-items: center;
      background-color: var(--color-global-white);
      border-top: 0.1rem solid var(--color-global-grey3);
      display: flex;
      height: 5.5rem;
      justify-content: space-between;
      padding: spacingm(1.5) spacingm(2);
    }
  }
}
