.container {
  background-color: var(--color-global-white);
  display: flex;
  height: 15rem;
  margin-bottom: calc(var(--spacing) * 2);
}

.gallery {
  height: 100%;
  width: 12.4rem;
}

.content_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 calc(var(--spacing) * 2) 0 calc(var(--spacing) * 1.5);
  padding: var(--spacing) 0;
}

.row1 {
  height: 2.4rem;
  margin-top: var(--spacing);
  width: 16.8rem;
}

.row2 {
  height: 1.8rem;
  margin-top: calc(var(--spacing) * 2);
  width: 100%;
}

.fill_vertical_space {
  flex: 1;
}

.cta_buttons_container {
  display: flex;
  height: 3.2rem;
  margin-bottom: var(--spacing);
  width: 100%;
}

.button {
  flex: 1;
  height: 100%;
}

.button:not(:nth-of-type(1)) {
  margin-left: calc(var(--spacing) * 1.5);
}
