.container.container {
  cursor: text;
  height: 3.6rem;
}

.label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cross_button {
  cursor: pointer;
  margin: 0 0 0 calc(var(--spacing) * 1.5);
  width: 1rem;
}

.cross_icon {
  fill: var(--color-interaction-1-light-mode);
}
