.content {
  background-color: var(--color-global-white);
  margin: spacingm(2);
  padding: spacingm(3);

  &-header {
    align-items: center;
    border-bottom: 0.06rem solid var(--color-global-stone-100);
    display: flex;
    justify-content: space-between;
    line-height: 2.2rem;
    margin-bottom: spacingm(2);
    padding-bottom: spacingm(2);
  }

  &-text {
    color: var(--color-global-black);
    font-size: var(--font-size-01);
    font-weight: var(--font-weight-02);
  }

  &-close-icon {
    height: 1.2rem;
    width: 1.2rem;
  }
}
