body {
  font-family: var(--font-family-default);
  background: var(--color-global-stone-25);
}

.body__svg {
  display: none;
}

/* This class coming from pf-frontend common so can't change to BEM */
.body-noscroll {
  overflow: hidden;
}
