.container {
  background-image: linear-gradient(
    90deg,
    var(--color-global-grey4) 0%,
    var(--color-global-grey3) 25%,
    var(--color-global-grey4) 50%
  );
  background-size: 200% 100%;
  border-radius: 0.3rem;

  @include animation('shine 1s infinite');
}
