.container {
  background-color: var(--color-global-grey4);
  color: var(--color-global-grey3);
  height: 100%;
}

.svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
