.container {
  display: flex;
  font-size: var(--font-size-08);
  margin-bottom: var(--spacing);
  min-height: 1.9rem;
  overflow: hidden;
  width: 100%;
}

.container button {
  align-items: center;
  display: flex;
}

.horizontal_spacer {
  flex: 1;
}

.link {
  color: var(--color-global-black);
  font-size: var(--font-size-01);
  font-weight: var(--font-weight-02);
  text-decoration: none;
}

.link:visited {
  color: var(--color-global-black);
}

.interactive_area {
  display: flex;
}

.save_button_icon {
  fill: var(--color-interaction-1-light-mode);
  width: 1.7rem;
}

.save_button_icon.save_button_icon__saved {
  fill: var(--color-primary-clay-100);
}

.menu_button {
  margin-left: calc(var(--spacing) * 2);
}

.menu_button_icon {
  fill: var(--color-interaction-1-light-mode);
  height: 1.5rem;
  transform: rotate(90deg);
  width: 1.5rem;
}
