.container {
  padding: var(--spacing);
  min-height: 15rem;
  border-radius: 5px;
  display: flex;
}

.gallery_container {
  position: relative;
  width: 12.4rem;
}

.content_container {
  flex: 1;
  margin-left: var(--spacing);
  display: flex;
  flex-direction: column;
}

.fill_vertical_space {
  flex: 1;
}
