.container {
  background-color: var(--color-global-white);
  display: flex;
  margin-bottom: calc(var(--spacing) * 2);
  min-height: 15rem;
}

.gallery_container {
  position: relative;
  width: 12.4rem;
}

.content_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 var(--spacing) 0 var(--spacing);
  padding: var(--spacing) 0;
}

.fill_vertical_space {
  flex: 1;
}

.title_from_agent {
  font-size: var(--font-size-08);
  font-weight: var(--font-weight-04);
  line-height: normal;
  margin-bottom: var(--spacing);
}

.location {
  color: var(--color-global-black-op-80);
  font-size: var(--font-size-09);
  letter-spacing: -0.03rem;
  line-height: normal;
  margin-bottom: var(--spacing);
}

.info {
  font-size: var(--font-size-09);
  letter-spacing: -0.03rem;
  line-height: normal;
  margin-bottom: var(--spacing);
}
