.container {
  background-color: var(--color-global-white);
  display: flex;
  flex-direction: column;
  margin-top: spacingm(3);
  padding: spacingm(5) spacingm(2) spacingm(2);
  z-index: var(--z-index-04);
}

.section {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;

  &--categories {
    margin-bottom: spacingm(2.5);
    text-transform: uppercase;
  }

  &--apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list {
  font-size: var(--font-size-08);
  line-height: 1.6rem;
  width: 48%;
}

.item {
  margin-bottom: spacingm(2.5);
}

.link {
  text-decoration: none;

  &--primary {
    color: var(--color-interaction-1-dark-mode);
  }

  &--secondary {
    color: var(--color-global-grey1);
    text-transform: capitalize;
  }

  &--download {
    display: block;
    margin-top: spacingm(2);
    width: 48%;
  }
}
