.footer {
  background-color: var(--color-global-white);
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 2) 0;
  z-index: var(--z-index-04);
}

.section {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories {
  margin-bottom: calc(var(--spacing) * 2.5);
  text-transform: uppercase;
}

.container {
  font-size: var(--font-size-08);
  line-height: 1.6rem;
  width: 48%;
}

.apps {
  margin-top: calc(var(--spacing) * 4);
}

.primary {
  color: var(--color-interaction-1-dark-mode);
}

.secondary {
  color: var(--color-global-grey1);
  text-transform: capitalize;
}

.item {
  margin-bottom: calc(var(--spacing) * 2.5);
}

.link {
  text-decoration: none;
}

.downloadLink {
  display: flex;
}
