@mixin reset-button {
  -webkit-appearance: none;
  background: transparent;
  font: inherit;
  margin: 0;
  outline: none;
  overflow: visible;
}

@mixin base-button {
  align-items: center;
  border: 0.1rem solid var(--color-global-stone-75);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  transition: background 0.3s;
  user-select: none;
  white-space: nowrap;
  width: fit-content;
}

.button {
  @include reset-button;
  @include base-button;

  /* Tertiary/Floating - default */
  background-color: var(--color-global-white);
  border-radius: calc(var(--spacing) / 2);
  color: var(--color-global-black);

  font-size: var(--font-size-01);
  line-height: 2.4rem;
  min-width: 8rem;
  padding: calc(var(--spacing) * 2);

  &:hover {
    background: var(--color-global-stone-25);
  }

  &:active {
    background: var(--color-global-stone-50);
    border-color: var(--color-global-stone-75);
  }
}

/* Sizes */
.small {
  font-size: var(--font-size-08);
  line-height: 2rem;
  padding: calc(var(--spacing) * 1);
}

.disabled {
  color: var(--color-global-grey2);
}

.disabled,
.loading {
  pointer-events: none;
}

/* Icon */
.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.icon--left {
  margin-right: calc(var(--spacing) * 1.5);
}

.icon--right {
  margin-left: calc(var(--spacing) * 1.5);
}

/* Primary */
.primary {
  background-color: var(--color-primary-clay-100);
  border: none;
  color: var(--color-global-white);
  fill: var(--color-global-white);

  &:hover,
  &:active {
    background-color: var(--color-primary-clay-dark);
  }

  &--disabled {
    background-color: var(--color-primary-clay-25);
  }

  &--loader {
    background-color: var(--color-global-white);
  }
}

/* Secondary */
.secondary {
  background-color: var(--color-global-white);
  color: var(--color-primary-clay-100);
  fill: var(--color-primary-clay-100);

  &:hover {
    background-color: var(--color-global-stone-25);
  }

  &:active {
    background-color: var(--color-global-stone-50);
  }

  &--disabled {
    color: var(--color-primary-clay-50);
    fill: var(--color-primary-clay-50);
  }

  &--loader {
    background-color: var(--color-primary-clay-100);
  }
}

/* Floating */
.floating {
  border-radius: 1rem;
  box-shadow: var(--box-shadow-04);

  &:hover {
    border-color: transparent;
  }

  &--disabled {
    color: var(--color-global-grey2);
    fill: var(--color-global-grey2);
  }

  &--loader {
    background-color: var(--color-global-black);
  }
}

/* Secondary blue */
.secondaryBlue {
  background-color: var(--color-global-white);
  color: var(--color-interaction-1-light-mode);
  fill: var(--color-interaction-1-light-mode);

  &:hover {
    background-color: var(--color-global-stone-25);
  }

  &:active {
    background-color: var(--color-global-stone-50);
  }

  &--disabled {
    color: var(--color-brand-sky-75);
    fill: var(--color-brand-sky-75);
  }

  &--loader {
    background-color: var(--color-interaction-1-light-mode);
  }
}

.primary,
.secondary,
.secondaryBlue {
  font-weight: var(--font-weight-02);
}
