.container {
  padding: 0 spacingm(2);
}

.heading {
  color: var(--color-global-black);
  font-size: var(--font-size-01);
  font-weight: var(--font-weight-04);
  margin-bottom: spacingm(4);
}

.body {
  &-picture {
    &-img {
      max-width: 14.7rem;
    }

    &--left {
      float: left;
      margin-right: spacingm(1.4);
    }
    &--right {
      float: right;
      margin-left: spacingm(1.4);
    }
  }

  &-html {
    font-size: var(--font-size-08);
    p {
      margin-bottom: spacingm(2.5);
    }
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: underline;
    }
  }
}
