.icon__inactive {
  fill: none;
  stroke: var(--color-global-black);
}

.icon__active {
  fill: var(--color-feedback-warning-light);
  stroke: var(--color-feedback-warning-light);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: calc(var(--spacing) * 10) calc(var(--spacing) * 3) calc(var(--spacing) * 3);
  position: relative;
}

.close {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 3.2rem;
  justify-content: center;
  position: absolute;
  right: var(--spacing);
  top: calc(var(--spacing) * 2);
  width: 3.2rem;
}

.closeIcon {
  height: 1.8rem;
  width: 1.8rem;
}
