.container {
  margin-bottom: calc(var(--spacing) * 3);
  padding-bottom: calc(var(--spacing) * 3);
}

.containerWithIcon:not(:last-child) {
  border-bottom: 1px solid var(--color-global-grey3);
}

.containerHidden {
  display: none;
}

.headline {
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-02);
  margin-bottom: calc(var(--spacing) * 2.5);
  text-transform: capitalize;
}
