.ad_placeholder {
  margin-bottom: 0;
  min-height: 14.5rem;
}

.ad {
  font-size: 0;
  margin-bottom: spacingd(2);
}

/**
 * Injected ad iframes take up space when they shouldn't
 *
 * https://stackoverflow.com/questions/21025319/iframe-creates-extra-space-below
 */
.ad iframe {
  display: block;
}

.heading {
  background-color: var(--color-global-white);
  padding-bottom: spacingm();
  padding-top: spacingm(2);
}

.title {
  color: var(--color-global-grey1);
  font-size: var(--font-size-08);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
