.button {
  border: none;
  justify-content: flex-start;
  padding-left: 0;
  width: 100%;

  &:not(:first-child) {
    margin-top: var(--spacing);
  }
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
