.container {
  background-color: var(--color-global-white);
  padding-bottom: spacingm(2);
  position: relative;
  z-index: var(--z-index-03);
}

.searchbar {
  margin-bottom: var(--spacing);
}

.buttons_row {
  display: flex;
  justify-content: space-between;
}

.buttons_row__appear_on_scroll {
  background-color: var(--color-global-white);
  margin-top: 0;
  padding-bottom: spacingm(2);
  padding-top: spacingm(2);
  width: 100%;
}

.buttons_row button {
  border-radius: 1rem;
  flex: 1;
  font-size: var(--font-size-08);
  width: 100%;
}
