.heading {
  font-size: var(--font-size-01);
  font-weight: bold;
  letter-spacing: 0.23rem;
  line-height: 3rem;
  margin: 0 0 calc(var(--spacing) * 3);
  text-align: center;
  text-transform: uppercase;
}

.button {
  align-items: center;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-01);
  height: 4.2rem;
  padding: 0 calc(var(--spacing) * 2);
  width: 100%;

  &:not(:first-child) {
    margin-top: calc(var(--spacing) * 2);
  }

  &.google {
    background: var(--color-global-white);
    border: 0.1rem solid var(--color-global-stone-75);
    color: var(--color-global-black);
    font-weight: var(--font-weight-02);
  }

  &.facebook {
    background: var(--color-facebook);
    color: var(--color-global-white);
    font-weight: var(--font-weight-02);
  }
}

.divider {
  display: inline-flex;
  justify-content: center;
  margin: calc(var(--spacing) * 2) 0 calc(var(--spacing) * 4);
  position: relative;
  text-align: center;
  width: 100%;

  &:before {
    background-color: var(--color-global-grey2);
    content: '';
    display: block;
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: var(--z-index-01);
  }

  .text {
    background-color: var(--color-global-white);
    color: var(--color-global-grey2);
    font-size: var(--font-size-09);
    line-height: 1.67;
    text-transform: capitalize;
    width: 3.2rem;
    z-index: var(--z-index-02);
  }
}

.input-area {
  margin-bottom: calc(var(--spacing) * 2);
}

.link {
  color: var(--color-interaction-1-dark-mode);
  cursor: pointer;
  font-size: var(--font-size-08);
  text-decoration: none;
}

.forgot-password {
  text-align: end;
}

.create-account {
  text-align: center;
}

.checkbox-text {
  color: var(--color-global-black);
  font-size: var(--font-size-09);
}

.policy-check {
  color: var(--color-global-grey1);
  font-size: var(--font-size-09);
  line-height: 1.7;
  margin-top: calc(var(--spacing) * 4);

  .compliance-link {
    color: var(--color-interaction-1-dark-mode);
    cursor: pointer;
    text-decoration: none;
  }
}
