.container {
  margin: calc(var(--spacing) * 2);
  font-size: var(--font-size-08);
  white-space: nowrap;
}

.sort_btn {
  display: inline;
  color: var(--color-interaction-1-light-mode);
  font-weight: var(--font-weight-02);
}

.sort_icon {
  width: 0.8rem;
  margin-left: var(--spacing);
}
