.container {
  font-size: var(--font-size-08);
  margin: calc(var(--spacing) * 2);
  white-space: nowrap;
}

.sort_btn {
  color: var(--color-interaction-1-light-mode);
  display: inline;
  font-weight: var(--font-weight-02);
}

.sort_icon {
  margin-left: var(--spacing);
  width: 0.8rem;
}

.sort_choice__active {
  color: var(--color-interaction-1-light-mode);
}
