body {
  background: var(--color-global-stone-25);

  /* Ensure that default text color and fill is brand black and not rgb(0,0,0) black */
  color: var(--color-global-black);
  fill: var(--color-global-black);
  font: var(--font-size-01) / 1.6 var(--font-family-default);

  /* To provide the contextual adjustment of inter-glyph spacing. */
  font-kerning: normal;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}
